<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="UskyConnectionString" connectionString="server=CET-I3\SQLExpress; database=USky2; UID=sa; PWD=007;" providerName="System.Data.SqlClient" />-->
    <add name="UskyConnectionString" connectionString="server=192.99.148.187;database=Usky2; UID=analytics; PWD=@n@lytic$123; Max Pool Size=100; Pooling=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="UskyConnectionString" connectionString="server=45.114.246.36; database=USky2; UID=usdata; PWD=@cowork#7028;" providerName="System.Data.SqlClient" />
    <!--<add name="UskyConnectionString" connectionString="server=office.usky.in; database=USky2; UID=usky; PWD=benthmedzilla;" providerName="System.Data.SqlClient" />-->
    <!--<add name="UskyConnectionString" connectionString="server=.\SQLEXP2008; database=USky2; UID=sa; PWD=square;" providerName="System.Data.SqlClient" />-->
    <add name = "Excel03ConString" connectionString = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
    <add name = "Excel07+ConString" connectionString = "Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES'"/>
  </connectionStrings>

  <appSettings>
    <add key="FolderPath" value="http://uskystreambucket.s3.amazonaws.com"/>
    <add key="SourceURL" value="http://localhost:54057/" />
    <add key="Curriculum" value="http://localhost:54057/" />
    
    <add key="RegistrationSender" value="support@usky.in" />
    <add key="AdminEmail" value="chmukri@live.in" />
    <add key="EliminateKeywords" value="a,and,the,of,on,for,to,in,i,is,-,?" />
    <add key="EmailVerification" value="False" />    
    
  </appSettings>

  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>


  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2097152" />
    <pages validateRequest="false" />
    
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" name=".USky" timeout="1440" defaultUrl="~/UserHome" slidingExpiration="true">
      </forms>
    </authentication>

    <authorization>
      <allow users="*" />
    </authorization>
   
    
  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@usky.in">
        <network host="smtp.sendgrid.net" defaultCredentials="false" enableSsl="true" port="2525" userName="apikey" password="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" />
      </smtp>
    </mailSettings>
  </system.net>

  <location path="Telerik.Web.UI.WebResource.axd">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="Uploads">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="100000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>